.panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.panel-hr hr {
  width: 900px;
}
.panel-length,
.label-sort {
  font-size: 1.2rem;
}
.select-sort {
  font-size: 1.2rem;
  border: none;
}
