.cart-root{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0 1rem;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
thead{
  border-bottom: 1px solid gray;
  
}
th,
td {
  padding:0.5rem 0;
}

td img{
  width: 40%;
}
.tr-data{
  
  background-color: aqua;
}
.total-data{
  margin-top: 1rem;
}
.empty-data{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) ;
  font-size: 2.5rem;
  color: red;
  width: 20%;
}
.empty{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  color: red;
  font-size: 2.5rem;
}
td .counter{
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
td .counter button{
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}
td .counter .quantity{
  font-size: 2rem;
}