.cart-root{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0 1rem;
}
table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
thead{
  border-bottom: 1px solid gray;
  
}
th,
td {
  padding:0.5rem 0;
}

td img{
  width: 40%;
}
.tr-data{
  
  background-color: aqua;
}
.total-data{
  margin-top: 1rem;
}
.empty-data{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) ;
  font-size: 2.5rem;
  color: red;
}