.wrapper-featured{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 1rem;
  place-items: center;
  padding: 2rem 0;
  
}
.wrapper-featured img{
  width: 360px;
  object-fit: cover;
}
.wrapper-featured p{
  display: inline-block;
  width: 65%;
  font-size: 1rem;
}
.wrapper-featured p:nth-child(3){
  color:#b48484 ;
  text-align: right;
  width: 28%;
}