.wrapper-featured{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 1rem;
  place-items: center;
  cursor: pointer;
}
.wrapper-featured img{
  width: 100%;
  object-fit: cover;
}
.wrapper-featured p{
  display: inline-block;
  width: 65%;
  font-size: 1rem;
}
.wrapper-featured p:nth-child(3){
  color:#b48484 ;
  text-align: right;
  width: 28%;
}
@media (max-width:1000px) {
  .wrapper-featured{
    grid-template-columns: repeat(1 ,1fr);
  }
}